<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

		<section name="configBuilders" type="System.Configuration.ConfigurationBuildersSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false" />
	</configSections>

	<configBuilders>
		<builders>
			<add name="Environment" type="Microsoft.Configuration.ConfigurationBuilders.EnvironmentConfigBuilder, Microsoft.Configuration.ConfigurationBuilders.Environment, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</builders>
	</configBuilders>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
	</system.web>
	<system.serviceModel>

		<bindings>
			<wsDualHttpBinding>
				<binding name="DualHttpSinSeguridad">
					<security mode="None" />
				</binding>
			</wsDualHttpBinding>
		</bindings>
		<services>
			<service name="HangmanServer.Services.AccountService" behaviorConfiguration="DefaultBehavior">
				<endpoint address="" binding="basicHttpBinding" contract="HangmanServer.Contracts.IAccountService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>

			<service name="HangmanServer.Services.MatchmakingService" behaviorConfiguration="DefaultBehavior">
				<endpoint address="" binding="basicHttpBinding" contract="HangmanServer.Contracts.IMatchmakingService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>

			<service name="HangmanServer.Services.CatalogService" behaviorConfiguration="DefaultBehavior">
				<endpoint address="" binding="basicHttpBinding" contract="HangmanServer.Contracts.ICatalogService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>

			<service name="HangmanServer.Services.ScoreService" behaviorConfiguration="DefaultBehavior">
				<endpoint address="" binding="basicHttpBinding" contract="HangmanServer.Contracts.IScoreService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>

			<service name="HangmanServer.Services.GameService">
				<endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="DualHttpSinSeguridad" contract="HangmanServer.Contracts.IGameService" />
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior name="DefaultBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<directoryBrowse enabled="true" />
	</system.webServer>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

	<connectionStrings configBuilders="Environment">
		<add name="HangmanDBEntities" connectionString="CadenaOcultaQueSeraReemplazada" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>